



<div class="container-fluid" *ngIf="vm$ | async as vm">

<div class="card" >
  <div class="card-header card-header-danger">
    <h6 class="card-title"><i class="fa fa-gear"></i> {{pageTitle}}</h6>
</div>
<div class="card-body" >
  <div class="row mb-2">
      <label class="col-md-2 col-form-label">User Name</label>
      <div class="col-md-4">
        <select class="form-control"
                (change)="onSelected($event.target.value)">
                <option value="0"> -- select User --</option>
          <option *ngFor="let user of vm.Users"
                  [value]="user.id">{{ user.username }}</option>
        </select>
      </div>
      <div class="col-md-2">
        <button type="button"
                class="btn btn-outline-secondary"
                (click)="onAdd()">AddPMO</button>
      </div>
      <div class="col-md-2">
        <button type="button"
                class="btn btn-outline-secondary"
                (click)="onRemove()">RemovePMO</button>
      </div>
    </div>
  </div>
  
</div>
<div class="card">
  <div class="card-header card-header-danger">
    <h6 class="card-title"><i class="fa fa-user"></i> PMO Users</h6>
</div>
<div class="card-body" >
  <div class="container" *ngIf="vm.PmoUsers">
    <div class="row">
      <div class="col-md-12" *ngIf="pmoUserDetails && pmoUserDetails.length > 0">
  <app-grid-view #accountListTable class="your-class" hideHeader="false" name="Filter" pageSize="5" [columns]="[
  { name: 'User Name', property: 'username', visible: true, isModelProperty: true, convertToTitleCase: true },
  { name: 'Email Id', property: 'emailId', visible: true, isModelProperty: true, convertToTitleCase: true }
]" [data]="pmoUserDetails" ></app-grid-view>

    </div>
  </div>
  
</div>
</div>
</div>

<div class="alert alert-danger"
     *ngIf="errorMessage$ | async as errorMessage">{{errorMessage}}
</div>
</div>